---
import HeaderLink from './HeaderLink.astro';
---

<nav data-testid="desktop-navigation" class="hidden md:flex items-center space-x-1">
	<HeaderLink
		href="/"
		class="nav-link"
		data-testid="home-link"
	>
		Home
	</HeaderLink>
	<HeaderLink
		href="/books"
		class="nav-link"
		data-testid="books-link"
	>
		Books
	</HeaderLink>
	<HeaderLink
		href="/series"
		class="nav-link"
		data-testid="series-link"
	>
		Series
	</HeaderLink>
	<HeaderLink
		href="/reading-order"
		class="nav-link"
		data-testid="reading-order-link"
	>
		Reading Order
	</HeaderLink>
	<HeaderLink
		href="/species"
		class="nav-link"
		data-testid="species-link"
	>
		Species
	</HeaderLink>
	<HeaderLink
		href="/locations"
		class="nav-link"
		data-testid="locations-link"
	>
		Locations
	</HeaderLink>
	<HeaderLink
		href="/blog"
		class="nav-link"
		data-testid="blog-link"
	>
		Blog
	</HeaderLink>
	<HeaderLink
		href="/about"
		class="nav-link"
		data-testid="about-link"
	>
		About
	</HeaderLink>
	<HeaderLink
		href="/contact"
		class="nav-link"
		data-testid="contact-link"
	>
		Contact
	</HeaderLink>
</nav>

<style>
	.nav-link {
		@apply text-moon-silver hover:text-ember-orange transition-all duration-200 py-2 px-4 rounded-lg hover:bg-midnight-purple/50 font-medium relative;
	}

	.nav-link:hover::after {
		content: '';
		@apply absolute bottom-0 left-1/2 transform -translate-x-1/2 w-0 h-0.5 bg-ember-orange transition-all duration-200;
		width: calc(100% - 2rem);
	}

	/* Active state styling */
	.nav-link.active {
		@apply text-ember-orange;
	}

	.nav-link.active::after {
		content: '';
		@apply absolute bottom-0 left-1/2 transform -translate-x-1/2 w-6 h-0.5 bg-ember-orange;
	}
</style>
